<div class="card">
    <h5 class="card-header">VAT Information</h5>
    <div class="card-body">
        <div class="form-group row">
            <label for="vatNumber" class="col-md-2 col-form-label">Number:</label>
            <div class="col-md-10" id="vatNumber">
                {{ searchFilter.currentVAT.VATNumber }}
            </div>
            <label for="vatCountryCode" class="col-md-2 col-form-label">Country Code:</label>
            <div class="col-md-10" id="vatCountryCode">
                {{ searchFilter.currentVAT.CountryCode }}
            </div>
            <label for="vatName" class="col-md-2 col-form-label">Name:</label>
            <div class="col-md-10" id="vatName">
                {{ searchFilter.currentVAT.Name }}
            </div>
            <label for="vatAddress" class="col-md-2 col-form-label">Address:</label>
            <div class="col-md-10" id="vatAddress">
                {{ searchFilter.currentVAT.Address }}
            </div>
            <label for="vatValid" class="col-md-2 col-form-label">Valid:</label>
            <div class="col-md-10" id="vatValid">
                {{ searchFilter.currentVAT.Valid }}
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        Request Date: {{ searchFilter.currentVAT.RequestDate }}
    </div>
</div>