<div class="container app-container">
	<div class="row col-md-12">
		<div class="col-md-4">
			<search-component>Loading SearchComponent content here ...</search-component>
			<br>
			<notification-component>Loading NotificationComponent content here ...</notification-component>
		</div>
		<div class="col-md-8">
			<details-component>Loading DetailsComponent content here ...</details-component>
		</div>
	</div>
</div>