<div class="input-group add-on">
    <input class="form-control" placeholder="Search" [(ngModel)]="vatSearchInput">
    <div class="input-group-btn">
        <button class="btn btn-default float" (click)="onSearchVAT()" [disabled]="vatSearchButtonDisabled"><i class="fa fa-search"
                aria-hidden="true"></i></button>
    </div>
</div>