body
    background-color: #a9a9a9

.app-container
    background-color: #fbfdfd
    color: #000000
    margin-top: 10px
    margin-bottom: 10px
    padding: 10px

nav
    background-color: #efefef

nav a
    color: #808080
    font-weight: bold


//
// http://paletton.com/#uid=13n0u0k5sWI00++1D+u9EPue5Eg
//